$circle-scale: 2.5;
$box_width: 40;
$distance: 105;
$offset: 40%;

.App {
  text-align: center;
}

html {
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
}

h1 {
  text-align: center;
}

a {
  color: darkorange;
}

#wheel {
  position: relative;
  margin: auto;
  background-image: url("circles.svg");
  background-size: cover;
  width: 300px;
  height: 300px;
  // border: 1px solid black;
}

input {
  display: block;
  width: #{$box_width}px;
  height: #{$box_width}px;
  border: none;
  text-align: center;
  font-size: 270%;
  font-weight: bold;
  margin: 5px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  top: #{$offset};
  left: #{$offset};
}

@for $i from 0 through 7 {
  #letter_#{$i} {
    transform: rotate(#{$i * 45 + 22.5}deg) translate(#{$distance}px) rotate(-#{$i * 45 + 22.5}deg);
  }
}

.results {
  font-size: 200%;
  font-weight: bold;
  letter-spacing: 0.2em;
}

button {
  color: white;
  background-color: #616e7c;
  border-color: #616e7c;
  border: 0px solid;
  font-size: 100%;
  // font-weight: bold;
  padding: 0.475rem 0.85rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

button:hover {
  background-color: #616e7ce5;
  border-color: #616e7ce5;
  cursor: pointer;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p {
  text-align: center;
  font-size: 80%;
}

.modal-style {
  border-radius: 7px;
  border: 2px solid darkorange;
}
