$circle-scale: 2.5;
$box_width: 30;

.App {
  text-align: center;
}

html {
  background-color: rgb(255, 255, 0);
}

#wheel {
  position: relative;
  background-image: url("mockup.png");
  background-size: cover;
  width: 300px;
  height: 300px;
}

input {
  width: #{$box_width}px;
  height: #{$box_width}px;
  border: none;
  text-align: center;
  font-size: 100%;
  margin: 5px;
  position: absolute;
}

#letter_0 {
  transform: translate(#{38.3 - ($box_width/2)}px, 7.6px);
}

#letter_1 {
  transform: translate(92.4px, 61.7px);
}

#letter_2 {
  transform: translate(92.4px, 138.3px);
}

#letter_3 {
  transform: translate(38.3px, 192.4px);
}

#letter_4 {
  transform: translate(-38.3px, 192.4px);
}

#letter_5 {
  transform: translate(-92.4px, 138.3px);
}

#letter_6 {
  transform: translate(-92.4px, 61.7px);
}

#letter_7 {
  transform: translate(-38.3px, 7.6px);
}
